*{
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: "Roboto",sans-serif;
  
}


.nav-container{
  background: #FFFFFA;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  height: 72px;
  /* height: 8vh; */

}
.wrapper{
  width: 1490px;
  margin: 0 auto;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
nav ul{
  display: flex;
}
nav .logo{
  font-family: Poppins,sans-serif;
font-style: normal;
font-weight: 800;
font-size: 64px;
color: #021718;
}
.nav-items li{
  list-style: none;
  margin-right: 10px;
  margin-top: 10px;
}
.nav-items li a{
  color: #021718;
  font-family: Poppins,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-decoration: none;
}
.header-container{
  background: rgba(255, 114, 0, 0.6) url("circle_1.svg") ;
  opacity: 0.95;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1500px;
  min-height: 900px;
  display: flex;
  align-items: center;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
header h1{
  font-family: Roboto,sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #021718;
  margin-bottom: 24px;
}
header p{
  font-family: Roboto,sans-serif;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: #021718;
width: 550px;
}
header .hero-image{
    position: relative;
    right: 1px;
}
header .hero-image img{
  top: 30px;
  
  transition: 300ms;
  position: relative;
  z-index: 100;  
}
header .hero-image img:hover{
  transform: rotate(-6deg);
  transition: 300ms;
  
}
header .hero-image .photo-bg {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 45px;
  top: 55px;

  background: #44a1a0;
  transform: rotate(-6deg);
}
.form-container{
  width:960px;
  margin: auto;
}
.form-header{
  /* width: 960px; */
  text-align: center;
  margin-top: 50px;
}
.submit-button{
  margin-left: 450px;
  padding-top: 10px;  
}
.social{
  margin-left: 275px;
  padding: 1cm;
}
.social a{
  padding: 10px;
}
.contact-details{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pimg1{
   position: relative;
  opacity: 0.9;
  background-position: top;
  background-image: url(./t3.jpg);
  min-height: 1000px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}
.ptext{
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  color:#000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
} 
.ptext .border{
  background-color: #111;
  color: #fff;
  padding: 20px;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7{
  margin-top: 80px;
  width: auto;
  height: 150px;
}
.img1:hover{
  height: 200px;
  margin: 5px;
}
.img2:hover{
  height: 200px;
  margin: 5px;
}
.img3:hover{
  height: 200px;
  margin: 5px;
}
.img4:hover{
  height: 220px;
  margin: 5px;
}
.img5:hover{
  height: 200px;
  margin: 5px;
}
.img6:hover{
  height: 200px;
  margin: 5px;  
}
.img7:hover{
  height: 200px;
  margin: 5px;
}

.skills-1{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section{
  text-align: left;
  padding: 50px 80px;
}
.section-light{
  background-color: #f4f4f4;
  color: #666;
}
.proj1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.proj1 p{
  margin: 50px;
  background-color: #ffe8da;
  padding: 35px;
  border-radius: 30px;
}
.projimage1{
  height:200px;
}

.about{
  background-image: url("./bg1.jpg");
  height: 100vh;
}

/* .hero-content{
  /* Add the blur effect */
  /* filter: blur(8px); */
   /* -webkit-filter: blur(8px);  */